@use "../custom" as *;

.login-button {
  cursor: pointer;
  color: $white;
  font-weight: 600;
  font-size: 0.875rem;
  background-color: $accent;
  padding-block: 1rem;
  padding-inline: 1.5rem;
  width: 100%;
  text-transform: uppercase;
  transition: background-color 500ms ease-in-out;
  border: none;
  border-radius: var(--border-radius);

  &:hover {
    background-color: $secondary;
  }

  &:active {
    background-color: $primary;
  }
}
