@use "../custom" as *;
@use "./mixins" as *;

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Avenir Next";
  src: url("/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: url("/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: url("/fonts/AvenirNextLTPro-It.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

* {
  font-family: "Avenir Next", "Poppins", Arial, Helvetica, sans-serif;
}
