@use "../custom" as *;
@use "../components/mixins" as *;

.app-navigation {
  position: relative;
  display: flex;
  width: 100%;
  padding-block: 1.25rem;
  padding-inline: 1.5rem;
  align-items: center;
  justify-content: space-between;

  .app-navigation_brand {
    display: flex;
    a img {
      width: 7rem;
      height: auto;
      margin-right: 2rem;
    }
  }

  .app-navigation_search {
    display: flex;
    width: 400px;
    margin: 0 auto;
  }

  .app-navigation_menu {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: 400;
    color: $primary;

    @include responsive(mobile) {
      margin-left: auto;
    }

    .menu-text {
      text-decoration: underline;

      @include responsive(mobile) {
        display: none;
      }
    }

    .menu-notify {
      @include responsive(mobile) {
        display: none;
      }
    }

    .profile-card {
      display: flex;
      align-items: flex;
      gap: 1rem;

      @include responsive(mobile) {
        gap: 0.45rem;
      }

      .profile-card_thumbnail {
        pointer-events: none;
        user-select: none;
        cursor: pointer;
        position: relative;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        overflow: hidden;

        @include responsive(mobile) {
          width: 42px;
          height: 42px;
        }

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          height: auto;
          object-fit: cover;
        }

        span {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          object-fit: cover;
          background-color: #c2c2c2;
          font-size: 1.25rem;
          font-weight: 500;
        }
      }

      .profile-card_info {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-weight: 500;

        @include responsive(mobile) {
          font-size: 0.75rem;
          gap: 0.25rem;
        }
      }
    }
  }
}

.app-navigation_desktop {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include responsive(mobile) {
    .app-navigation_search {
      display: none;
    }
  }
}
